.app {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  width: 154px;
  overflow: hidden;
  position: relative;
}

.slider__view {
  left: 0;
  display: flex;
  position: relative;
  
}

.slider__view--from-right {
  transition: left 0.5s ease-in-out;
  left: -100%;
}

.slider__view--from-left {
  transition: left 0.5s ease-in-out;
  left: 100%;
}



