.detail {
    width: 100vw;
}

.title {
    margin-top: 50px;
    text-align: center;
}

.card {
    width: 70%;
    margin: 10px auto;
    background: #dfeafd;
    padding: 10px;
    border-radius: 10px;
}

.card:hover {
    background: #b8cff8;
}

.card a {
    text-decoration: none;
    color: #000;
}

.card h3 {
    text-align: center;
}

.card img {
    border-radius: 5px;
    margin-left: 10px;
}

.card__detail {
    display: flex;
    align-items: flex-start;
}