.app {
  width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  width: 520px;
  overflow: hidden;
  position: relative;

  &__view {
    left: 0;
    display: flex;
    position: relative;
    
    &--from-right {
      transition: left 0.5s ease-in-out;
      left: -100%;
    }
    
    &--from-left {
      transition: left 0.5s ease-in-out;
      left: 100%;
    }
  }
}

.prev-btn, .next-btn {
  padding: 10px;
  font-size: 3rem;
  color: #6e9ffa;
}

.prev-btn:hover, .next-btn:hover {
  cursor: pointer;
  transform: scale(1.15);
}



