.cards-bar {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-bar__icon {
    height: 100px;
    width: 85%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-icon {
    width: 48px;
    height: 30px;
    margin-right: 9%;
    background: #fd435b;
    border-radius: 0.3rem;
    text-align: center;
}

.card-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-icon span {
    font-size: 4px;
    margin: 70% auto 0;
}

.cards-bar__btn {
    font-size: 2rem;
    color: #FFF;
    background: transparent;
    border: none;
    outline: none;
}

.cards-bar__btn:hover  {
    cursor: pointer;
    transform: scale(1.2);
}

.cards-bar__btn:disabled {
    opacity: 0.5;
    cursor: initial;
    transform: scale(1);
}